body,div,li,ol,ul,span{
    margin: 0;
    padding: 0;
}
body{
    min-width: 100%;
    background: silver;
    /*border: solid red 1px;*/
}
/*[data-role="page"]{*/
    /*position: absolute;*/
/*}*/
/*[data-role="header"]{*/
    /*padding: 1% 1%;*/
/*}*/
/*[data-role="content"]{*/
    /*padding-top: 10%;*/
/*}*/
/*[data-role="footer"]{*/
    /*height: 10%;*/
    /*padding-bottom: 5%;*/
/*}*/