body,div,li,ol,ul,span{
    margin: 0;
    padding: 0;
}
body{
    min-width: 100%;
    background: silver;
    /*border: solid red 1px;*/
}
[data-role="content"]{
    margin:0 auto;
    width: 80%;
}
[data-role="content"] a{
    margin-top: 3em;
}