<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{$static.css}index/index.css"/>
    <link rel="stylesheet" href="{$static.css}common/style.css"/>
    <title>欢迎您</title>
</head>
<body>
    <div class="item">
        <!--<a href="{$function.insert}">录入</a>-->录入
    </div>
    <div class="item">
        <!--<a href="{$function.search}">搜索</a>-->搜索
    </div>
    <div class="item">
        <!--<a href="{$function.maintenance}">维护</a>-->维护
    </div>
</body>\
</html>